@import "../../scss/default/color_variable";
.cs-moving_text_wrap {
  font-family: helvetica;
  font-size: 50px;
  line-height: 1.2em;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
.cs-moving_text_in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-moving_text {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 5px 6px;
  text-wrap: wrap;
}
.cs-moving_text_wrap.cs-type1 {
  color: #fff;
  .cs-moving_text {
    padding: 5px 0;
  }
}
.cs-reverse_animation {
  animation-direction: reverse !important;
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1380px) {
  .cs-moving_text_wrap {
    font-size: 100px;
  }
}

@media screen and (max-width: 1199px) {
  .cs-moving_text_wrap {
    font-size: 80px;
  }
}

@media screen and (max-width: 575px) {
  .cs-moving_text_wrap {
    font-size: 20px;
  }
}
